{% extends 'base.html' %}
{% load static %}

{% block main %}
<main>
    <script language="JavaScript" type="text/javascript">
        <!--
        function linklist(what){
        var selectedopt=what.options[what.selectedIndex]
        if (document.getElementById && selectedopt.getAttribute("target")=="new")
        window.open(selectedopt.value)
        else
        window.location=selectedopt.value
        }
        -->
    </script>

    <div class="l-column"> </div>
    <div class="center-column"> 
        <div class="buttons-left">
            <button class="button pass" onclick="document.location='{% url "profile:index" %}'"><img src="{% static 'public/img/profile.svg' %}" alt="profile"></button>
            <button class="button prog act" onclick="document.location=''"><img src="{% static 'public/img/progress.svg' %}" alt="progress"></button>
            <button class="button pass" onclick="document.location='{% url "messenger:index" %}'"><img src="{% static 'public/img/message.svg' %}" alt="message"></button>
            <button class="button pass" onclick="document.location='{% url "events:index" %}'"><img src="{% static 'public/img/calendar.svg' %}" alt="calendar"></a>
            <div></div>
        </div>
        <div class="window">
            <table  border="0" cellpadding="0" cellspacing="0" width="95%", height="100%", style="margin-left: auto; margin-right: auto;">
                <tr style="height: 2%;">
                </tr>
                <tr style="height: 10%;">
                    <td colspan=2 >
                        <!-- <p style="color:white; font-family: 'Gilroy'; font-style: normal; font-size: 32px;">Мои достижения</p> -->
                        <!-- <hr style="width:99%; margin: auto;" size="1" color="262626"/> -->
                        <form name="menu">
                            <select class="form-control" style="background-color: #313131; color:#c0c0c0; font-family: 'Gilroy'; font-size: 40px; border: 0; border-radius: 3px;" name="sel" onChange="linklist(document.menu.sel)">
                            {% if user.is_teacher %}
                                <option style="font-size: 20px;"  value='{% url "progress:total" %}'>Общий рейтинг</option>
                                <option style="font-size: 20px;"  value='{% url "progress:achiev_edit" %}'>Редактор событий</option>
                                <option style="font-size: 20px;"  value='{% url "progress:progress_edit" %}'>Редактор достижений</option>
                            {% else %}
                                <option style="font-size: 20px;"  value='{% url "progress:total" %}'>Общий рейтинг</option>
                                <option style="font-size: 20px;"  value='{% url "progress:index" %}'>Мои достижения</option>
                            {% endif %}
                            </select>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table width="95%" height="95%" class="scroll_table">
                            <td style="text-align: center; width: 5%; border: 1px solid #600F0F">
                                <input placeholder="" id='team' class='progress_caption_field', readonly='readonly' value='№'>
                            </td>
                            <td style="text-align: center; border: 1px solid #600F0F;">
                                <input placeholder="Team" id='team' class='progress_caption_field', readonly='readonly' value='Никнейм'>
                            </td>
                            <td style="text-align: center; border: 1px solid #600F0F">
                                <input placeholder="Team" id='team' class='progress_caption_field', readonly='readonly' value='Имя'>
                            </td>
                            <td style="text-align: center; border: 1px solid #600F0F">
                                <input placeholder="Team" id='team' class='progress_caption_field', readonly='readonly' value='Фамилия'>
                            </td>
                            <td style="text-align: center; border: 1px solid #600F0F">
                                <input placeholder="Team" id='team' class='progress_caption_field', readonly='readonly' value='Опыт'>
                            </td>
                            {% for my_user in users %}
                                <tr style="width: 100%; height: 2%;">
                                    <td style="text-align: center; border: 1px solid #600F0F">
                                        <input placeholder="Team" id='team' class='progress_caption_field' style="text-align: center; background: transparent;" readonly='readonly' value={{forloop.counter}}>
                                    </td>
                                    <td style="text-align: center; border: 1px solid #600F0F">
                                        <input placeholder="Team" id='team' class='progress_field', readonly='readonly' value={{my_user.username}}>
                                    </td>
                                    <td style="text-align: center; border: 1px solid #600F0F">
                                        <input placeholder="Team" id='team' class='progress_field', readonly='readonly' value={{my_user.first_name}}>
                                    </td>
                                    <td style="text-align: center; border: 1px solid #600F0F">
                                        <input placeholder="Team" id='team' class='progress_field', readonly='readonly' value={{my_user.last_name}}>
                                    </td>
                                    <td style="text-align: center; border: 1px solid #600F0F">
                                        <input placeholder="Team" id='team' class='progress_field', readonly='readonly' value={{my_user.exp}}>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </td>
                </tr>
                <tr style="height: 4%;">
                </tr>
            </table>

        </div>
    </div>
    <div class="r-column"> </div>
</main>
{% endblock %}