{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'public/style/All.css' %}">
    <link rel="stylesheet" href="{% static 'public/style/Login_SignUp.css' %}">
    <link rel="shortcut icon" href="{% static 'public/img/logo_color.png' %}">
    <title>{{ title }}</title>
</head>
<body >
    <header>
        <div class="head">
            <div class="links">
                <a href='{% url "profile:index" %}'><img src="{% static 'public/img/logo_color.png' %}" alt="logo" id="logo-head"></a>
                <a href="https://vk.com/legionbmstu"><img src="{% static 'public/img/vk.png' %}" alt="vk" id="vk"></a>
                <a href="https://t.me/legionbmstu"><img src="{% static 'public/img/tg.png' %}" alt="tg" id="tg"></a>
            </div>
        </div>
    </header>
    <main>
        <div class="l-column"> </div>
        {% block main %} {% endblock %}
        <div class="r-column"> </div>
    </main>
</body>
</html>