{% extends 'login_base.html' %}
{% load static %}

{% block main %}
<div class="center-column"> 
    <div class="form external">
        <div class="form up">
            <p class="name-l">LEGIONER</p>
        </div>
        <div class="down">
            {% if form.non_field_errors %}
                <script>
                    alert('{{form.non_field_errors.as_text }}');
                </script>
            {% endif %}
            <form class="external-field" action="{% url 'profile:signup' %}" autocomplete="off" method="post">
                {% csrf_token %}
                <div class="field b">
                    <img src="{% static 'public/img/user.svg' %}" alt="packet" class="img-field">
                    {{ form.first_name }}
                    <hr size="1" width="370px">
                </div>
                <div class="field b">
                    <img src="{% static 'public/img/user.svg' %}" alt="packet" class="img-field">
                    {{ form.last_name }}
                    <hr size="1" width="370px">
                </div>
                <div class="field b">
                    <img src="{% static 'public/img/nickname.svg' %}" alt="packet" class="img-field">
                    {{ form.username }}
                    <hr size="1" width="370px">
                </div>
                <div class="field b">
                    <img src="{% static 'public/img/team.svg' %}" alt="packet" class="img-field">
                    {{ form.team_id }}
                    <hr size="1" width="370px">
                </div>
                <div class="field b">
                    <img src="{% static 'public/img/packet.svg' %}" alt="packet" class="img-field">
                    {{ form.email }}
                    <hr size="1" width="370px">
                </div>
                <div class="field b">
                    <img src="{% static 'public/img/password.svg' %}" alt="password" class="img-field">
                    {{ form.password1 }}
                    <hr size="1" width="370px">
                </div>
                <div class="field b">
                    <img src="{% static 'public/img/password.svg' %}" alt="password" class="img-field">
                    {{ form.password2 }}
                    <hr size="1" width="370px">
                </div>
                <button type="submit" class="submit_up signup"><p>SIGN UP</p></button>
            </form>
            <a href = '{% url "profile:login" %}' style="color: #E34D56;"><p class="sign">SIGN IN</p></a>
        </div>
    </div>
</div>
{% endblock %}
