{% extends 'login_base.html' %}
{% load static %}

{% block main %}
<div class="center-column"> 
    <div class="form external">
        <div class="form up">
            <p class="name-l">LEGIONER</p>
        </div>
        <div class="down">
            <form class="external-field"> 
                <div class="field b">
                    <img src="{% static 'public/img/user.svg' %}" alt="packet" class="img-field">
                    <input type="text" placeholder="First Name" id="first_name" class="input-field">
                    <hr size="1" width="370px">
                </div>
                <div class="field b">
                    <img src="{% static 'public/img/user.svg' %}" alt="packet" class="img-field">
                    <input type="text" placeholder="Last Name" id="second_name" class="input-field">
                    <hr size="1" width="370px">
                </div>
                <div class="field b">
                    <img src="{% static 'public/img/nickname.svg' %}" alt="packet" class="img-field">
                    <input type="text" placeholder="Nickname" id="nick_name" class="input-field">
                    <hr size="1" width="370px">
                </div>
                <div class="field b">
                    <img src="{% static 'public/img/team.svg' %}" alt="packet" class="img-field">
                    <input type="text" placeholder="Team" id="team" class="input-field">
                    <hr size="1" width="370px">
                </div>
                <div class="field b">
                    <img src="{% static 'public/img/packet.svg' %}" alt="packet" class="img-field">
                    <input type="email" placeholder="Email" id="email" class="input-field">
                    <hr size="1" width="370px">
                </div>
                <div class="field b">
                    <img src="{% static 'public/img/password.svg' %}" alt="password" class="img-field">
                    <input type="text" placeholder="Password" id="password" class="input-field">
                    <hr size="1" width="370px">
                </div>
                <div class="field b">
                    <img src="{% static 'public/img/password.svg' %}" alt="password" class="img-field">
                    <input type="text" placeholder="Repeat Password" id="password_2" class="input-field">
                    <hr size="1" width="370px">
                </div>
                <button type="submit" class="submit_up signup"><p>SIGN UP</p></button>
            </form>
            <a href = '{% url "profile:login" %}' style="color: #E34D56;"><p class="sign">SIGN IN</p></a>
        </div>
    </div>
</div>
{% endblock %}
