
.center-column {
    background-image: url("../img/logo_transporent.png");
    background-position: center  center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    vertical-align: middle;
}
.form {
    mix-blend-mode: screen;
    background: rgba(87, 93, 107, 0.4);
    width: 434px;
}
.external {
    margin-left:auto;
    margin-right: auto;
    /* height: 495px; */
    border-radius: 60px; 
    display: grid;
    grid-template-rows: 95px auto;
}
.up {
    line-height: 95px;
    border-radius: 60px 60px 0 0;
    text-align: center; 
    /* display: grid; */
}
.name-l {
    display: inline-block;
    font-family: 'system-ui';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;  
    color: #FFFFFF;
    line-height: normal;
    vertical-align: middle;

}
.field {
    width: 370px;
    display: grid;
    grid-template-columns: 1px 209px;
    grid-column-gap: 30px;
    vertical-align: middle;
}
.b {
    grid-row-gap: 10px;
    height: 0px;
}

.s {
    grid-row-gap: 15px;
    height: 8px;
}
.input-field {
    height: 27px; 
    background: transparent;
    border: none;
    color: #c0c0c0; 
    font-family: 'system-ui';
    font-style: normal;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    width: 338px;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #44454b inset !important;
  -webkit-text-fill-color: #c0c0c0 !important;
}

.input-field::placeholder {
    color: #c0c0c0; 
    font-family: 'system-ui';
    font-style: normal;
    font-size: 16px;
}
.img-field {
    height: 23px;
    width: 23px;
    margin-top: 2px;
}
.img-team-field {
    height: 30px;
    width: 30px;
    margin-top: 2px;
}
.submit {
    width: 240px;
    height: 50px;
    border-radius: 15px;
    mix-blend-mode: screen;
    background: rgba(87, 93, 107, 0.4);
    border: none;
    margin-left: 64px;
    margin-top: -15px;
}
.submit_up {
    width: 240px;
    height: 50px;
    border-radius: 15px;
    mix-blend-mode: screen;
    background: rgba(87, 93, 107, 0.4);
    border: none;
    margin-left: 64px;
    margin-top: 15px;
}
.external-field {
    display: grid;
    grid-row-gap: 50px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 30px;
    padding-bottom: 20px;
}
.signup {
    font-family: 'system-ui';
    font-style: normal;
    font-size: 20px;
    color: #FFFFFF;
}
.sign {
    font-family: 'system-ui';
    font-style: normal;
    font-size: 20px;
    text-decoration: none;
    color: #E34D56;
    text-align: center;
    margin-bottom: 15px;
    margin-top: -5px;
}
.forgot {
    font-family: 'system-ui';
    font-style: normal;
    font-size: 15px;
    text-decoration: none;
    color: #FFFFFF;
    text-align: right;
    margin-bottom: -30px;
}